{{> header}}
    <div class="wrapper records">
      <h1>РЕКОРДЫ</h1>
      {{createStringRecords records}}
      <a class="back" href='/index'>ВЕРНУТЬСЯ</a>
      <button class="quitAccount">ВЫЙТИ ИЗ АККАУНТА</button>
    </div>
    <script async src="../scripts/records.js"></script>
  </body>
</html>