{{> header}}
    <div class="wrapper">
      <h1>Регистрация</h1>
      <form class="registration" id='reg'>
        <label for="login">Ваш никнейм:</label>
        <input type="text" name="login" id="login" required />
        <span id="loginError" class="error">0</span>
        <label for="password">Ваш пароль:</label>
        <input type="text" name="password" id="password" required />
        <span id="passwordError" class="error">0</span>
        <button type="submit">Отправить</button>
        <div class="link--wrapper" style='text-align: center;'>
          <a href="/auth">Авторизироваться</a>
        </div>
      </form>
    </div>


    <script async src="../scripts/purify.min.js"></script>
    <script async src="../scripts/req.js"></script>
  </body>
</html>