@media (max-width: 600px) {
  .board {
    width: 400px;
    height: 400px;
  }
  .wrapper {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .board {
    width: 310px;
    height: 310px;
  }
  .wrapper {
    width: 310px;
  }
}